.section.market-leaders-reason {
    &.cards-container {
        .cards-wrapper {
            margin: auto;

            .cards.block {
                padding: 20px;
                margin: auto;
                width: 80%;

                ul {
                    display: block;

                    li {
                        display: flex;
                        margin-top: 10px;

                        @media only screen and (max-width: 768px) {
                            flex-direction: column;
                            gap: 15px;
                            align-items: center;
                        }

                        &:first-child {
                            margin-top: initial;
                        }

                        &:nth-child(2) {
                            justify-content: flex-end;
                        }

                        &:nth-child(3) {
                            justify-content: flex-start;
                        }

                        &:nth-child(4) {
                            justify-content: flex-end;
                        }

                        .cards-card-image {
                            height: 80px;
                            width: 80px;

                            picture {
                                img {
                                    aspect-ratio: initial;
                                    object-fit: initial;
                                }
                            }
                        }

                        .cards-card-body {
                            display: flex;
                            align-items: center;
                            margin: initial;

                            p {
                                font-size: 18px;
                                color: #8A93A0 !important;
                                font-family: "Poppins", sans-serif;
                                margin-left: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
}