main>div:nth-of-type(7) {
    position: relative;
    background-color: #f2f6f9;
    // background-color: brown;


    >div:nth-of-type(1) {
        height: 350px;
        margin-top: 50px;
        border-radius: 36px;
        background: #FFF;
        margin-top: 200px;
        height: 380px;
        padding: 0px 50px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    >div:nth-of-type(2) {
        position: absolute;
        top: 0;
        right: 0;
    }
}

.columns.remarkable-achievements {
    display: flex;

    >div {
        display: unset;
        flex-direction: unset;

        >div {
            width: 40.2%;
            padding: 24px 24px 32px 24px;
            border-radius: 8px;
            background: #454B54;
            box-shadow: 0px 10px 30px 0px rgba(112, 144, 176, 0.15);
            margin-bottom: 30px;


            p:nth-of-type(1) {
                text-align: end;

                .icon {
                    img {
                        text-align: end;
                        width: 84px;
                        height: 77px;
                    }
                }
            }

            p:nth-of-type(2) {
                strong {
                    font-size: 18px;
                    color: #fff;
                    font-family: poppins-semibold;
                }
            }

            p:nth-of-type(3) {
                margin-top: 10px;
                font-size: 12px;
                color: #8A93A0;
                font-family: poppins-semibold;
            }
        }
    }


}