.section.remarkable-achievements {
    display: flex;
    position: relative;

    >div:nth-of-type(1) {
        border-radius: 36px;
        background: var(--white);
        margin-top: 200px;
        height: 380px;
        width: 100%;
        padding: 0px 50px;
        display: flex;
        justify-content: center;
        flex-direction: column;

        h2 {
            text-align: start;
            max-width: fit-content;
            margin-bottom: 40px;
        }

        .button-container {
            text-align: unset;
        }
    }

    >div:nth-of-type(2) {
        position: absolute;
        top: 22%;
        right: 11%;
        margin: unset;
        max-width: unset;


        >div {
            >div {
                display: flex;
                flex-direction: column;
            }

            >div:nth-of-type(1) {
                align-items: end;
            }

        }


    }

    .columns.remarkable-achievements {
        display: flex;

        >div:nth-of-type(1),
        >div:nth-of-type(2) {
            display: flex;
            flex-direction: column;
            align-items: end;
            gap: unset;

            >div {
                width: 69%;
                padding: 24px 24px 32px 24px;
                border-radius: 8px;
                background: #454B54;
                box-shadow: 0px 10px 30px 0px rgba(112, 144, 176, 0.15);
                margin-bottom: 30px;
                min-height: 200px;
                flex: unset;
                order: unset;


                p:nth-of-type(1) {
                    text-align: end;

                    .icon {
                        img {
                            text-align: end;
                            width: 84px;
                            height: 77px;
                        }
                    }
                }

                p:nth-of-type(2) {
                    strong {
                        font-size: 18px;
                        line-height: 27px;
                        color: var(--white);
                        font-family: poppins-semibold, 'sans-serif';
                    }
                }

                p:nth-of-type(3) {
                    margin-top: 10px;
                    font-size: 12px;
                    line-height: 18px;
                    color: var(--light-grullo);
                    font-family: poppins-semibold, "sans-serif";
                    min-height: 78px;
                }
            }
        }

        >div:nth-of-type(1) {
            >div:nth-of-type(2) {
                background-color: var(--light-black);
            }
        }

        >div:nth-of-type(2) {
            margin-top: 30px;
            align-items: center;

            >div:nth-of-type(1) {
                background-color: var(--light-black);
            }
        }
    }
}

@media screen and (width <=767.99px) {

    .section.remarkable-achievements {
        flex-direction: column;
        align-items: center;

        >div:nth-of-type(1) {
            height: 1350px;
            display: unset;
            flex-direction: unset;
            justify-content: unset;
            padding: 30px 15px;
            border-radius: 8px;
            width: 90%;
            margin-top: unset;
            display: flex;
            justify-content: center;
            align-items: center;

            h2 {
                text-align: center;
                max-width: unset;
                align-self: baseline;
            }

            .button-container {
                position: absolute;
                bottom: 80px;
                right: unset;
            }
        }

        >div:nth-of-type(2) {
            position: absolute;
            top: 13%;
            right: unset;

            >div {
                >div:nth-of-type(1) {
                    align-items: center;
                }
            }
        }

        .columns.remarkable-achievements {
            display: unset;

            >div:nth-of-type(1),
            >div:nth-of-type(2) {
                display: flex;
                flex-direction: column;
                align-items: end;
                align-items: center;
                gap: unset;

                >div {
                    width: 84%;
                    padding: 15px;

                    >p {
                        text-align: center;
                    }
                }
            }

            >div:nth-of-type(2) {
                margin-top: unset;
            }
        }
    }
}