.section.investment-opportunities {

    .default-content-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media only screen and (max-width: 768px) {
            overflow-y: scroll;
        }

        ul {
            flex: 0 0 18%;
            max-width: 18%;

            @media only screen and (max-width: 768px) {
                flex: 0 0 42%;
                max-width: 42%;
                margin-right: 4%;
            }

            &:nth-child(4) {
                margin-top: 100px;
            }

            li {
                border-radius: 12px;
                background: #fff;
                box-shadow: 0px 8px 24px 0px rgba(115, 96, 0, 0.15);
                width: 100%;
                padding: 15px;
                height: 170px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-bottom: 20px;
                font-size: 16px;
                color: #8A93A0 !important;
                font-weight: 500;
                box-sizing: border-box;

                @media only screen and (max-width: 768px) {
                    height: 200px;
                }

                span {
                    &:first-child {
                        text-align: right;
                    }
                }

                .icon-redirect {
                    text-align: right;
                }
            }
        }

        h2 {
            display: none;
        }
    }
}