.block.banner-open-demat-account {
  margin-top: 40px;
  background: #fff;
  border-radius: 8px;
  display: inline-block;
  padding: 8px;
  box-shadow: 0 8px 24px 0 rgb(115 96 0 / 15%);
}

.block.banner-open-demat-account form {
  display: flex;
}

.block.banner-open-demat-account form > div label {
  display: none;
}

.block.banner-open-demat-account form > div input {
  background: #F2F5F9;
  border: none;
  height: 40px;
  width: 250px;
  padding: 0 16px;
  border-radius: 4px;
}

.block.banner-open-demat-account form > div .button {
  border-radius: 0 6px 6px 0;
  background: linear-gradient(126deg, #FFD200 0%, #F7971E 100%);
  box-shadow: 0 4px 7px 0 rgb(50 77 103 / 15%);
  border: none;
  font-size: 12px;
  align-items: center;
  padding: 16px;
  height: 40px;
}

.section .lead-form-wrapper {
  max-width: 1020px;
}

.block.open-demat-account form > div:nth-of-type(1) > p {
  color: var(--white);
  font-size: 24px;
  font-weight: var(--font-semi-bold);
  text-align: left;
}

@media only screen and (width <= 768px) {
  .block.open-demat-account form > div:nth-of-type(1) > p {
    font-size: 18px;
  }
}

.block.open-demat-account form .number-wrapper label,
.block.open-demat-account form .text-wrapper label {
  display: none;
}

.block.open-demat-account form .number-wrapper input,
.block.open-demat-account form .text-wrapper input {
  background: #474747;
  border-radius: 6px;
  display: block;
  width: 100% !important;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-clip: padding-box;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border: none;
  height: 48px;
  margin: 0 0 15px !important;
}

.block.open-demat-account form > div:nth-child(2),
.block.open-demat-account form > div:nth-child(3) {
  margin-top: 16px;
}

.block.open-demat-account form > div:nth-child(n+4) {
  margin-top: 20px;
}

.block.open-demat-account form .checkbox-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.block.open-demat-account form .checkbox-wrapper label {
  color: var(--white);
  font-size: 12px;
  font-weight: var(--font-regular);
}

.block.open-demat-account form > div:nth-of-type(5) > p {
  color: #8A93A0;
  font-size: 12px;
  font-weight: var(--font-regular);
  text-align: left;
}

.block.open-demat-account form .submit-wrapper .button {
  width: 100%;
}